
{% extends 'main.html' %}
{% load static %}
{% block title %} add customer {% endblock %}
{% block content %}

<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Add Customer</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form method="post" data-toggle="validator">
                        {% csrf_token %}
                           <div class="row"> 
                               <div class="col-md-12">                      
                                <div class="form-group">
                                    <label>Check Customer</label>
                                    <select  class="selectpicker form-control"
                                        data-style="py-0" data-live-search="true" required>
                                        <option selected> Search Customer</option>
                                        {% for p in details %}
                                        <option>[{{p.customer_name}}]-[{{p.customer_phone}}]-[{{p.customer_adress}}]-[{{p.customer_city}}]</option>
                                        {% endfor %}

                                    </select>
                                </div>
                               </div>  
                               <hr>
                               
                               <div class="col-md-6">                      
                                   <div class="form-group">
                                       <label>Name *</label>
                                       <input type="text" class="form-control" placeholder="Enter Name" name="customer_name" required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>    
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Email </label>
                                       <input type="email" class="form-control" placeholder="Enter Email" name="customer_email" >
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div> 
                               <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Phone Number *</label>
                                       <input type="number" class="form-control" placeholder="Enter Phone Number" name="customer_phone" data-live-search="true" required>
                                       <div class="help-block with-errors"></div>
                                 
                                   </div>
                               </div> 
 
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label>Address</label>
                                       <textarea class="form-control" name="customer_adress" rows="4"></textarea>
                                   </div>
                               </div>
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label>City *</label>
                                       <input type="text" class="form-control" placeholder="Enter City" name="customer_city" value="নেত্রকোণা" >
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div> 
                           </div>                            
                           <button type="submit" class="btn btn-primary mr-2">Add Customer</button>
                           <button type="reset" class="btn btn-danger">Reset</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!-- Page end  -->
   </div>
     </div>

    {% endblock %}